@media screen and (min-width: 64em){
    .page-header {
        padding: 5rem 6rem;
    }
}
.page-header {
    color: #fff;
    text-align: center;
    background-color: #cccccc;
    background-image: linear-gradient(120deg, #2980B9, #343131);
}