logging.level.ROOT=INFO
spring.rabbitmq.host=docker.local
params.datasource.jdbcUrl=jdbc:postgresql://localhost/audit
params.datasource.username=giovanni
params.datasource.password=1234
server.port=8082
