logging.level.ROOT=WARN
spring.rabbitmq.host=192.168.99.100
params.datasource.jdbcUrl=jdbc:postgresql://localhost/audit
params.datasource.username=giovanni
params.datasource.password=1234
spring.jpa.hibernate.ddl-auto=create
